.allBalls {
    width: 27.5rem;
    padding: 0.5rem;
    background-image: var(--bg-color-accent);
    border-radius: 8px;
}

.selectedNumbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    background-color: var(--dark);
    border-radius: 8px;
}

.number50 {
    width: 13.75rem;
}

.number2 {
    width: 5.5rem;
}

.signal {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--border-color);
    background-color: rgb(175, 0, 0);
}

.green {
    background-color: #5c9900;
}

.date {
    appearance: none;
    cursor: pointer;
    margin: 0 0.5rem;
    padding: 0.25rem 1rem;
    width: 8rem;
    height: 1.78rem;
    background-color: var(--bg-color-accent);
    border: 1px solid var(--border-color);
    color: var(--font);
}

.date:hover {
    background-color: var(--border-color);
}

