.shadow {
  box-shadow: var(--shadow);
}

.window {
  position: relative;
  padding: 0.25rem 0.25rem 0;
  margin: 0.35rem;
  border: 2px solid var(--border-color);
  border-radius: var(--radius);
  background-color: var(--bg-color);
}

.windowWithClose {
  z-index: 1;
  composes: window shadow;
  position: absolute;
  top: 2rem;
  background-color: var(--bg-color);
}

.close {
  text-align: right;
  margin-bottom: 1rem;
}

.closeText {
  cursor: pointer;
  padding: 0 0.75rem;
  background-color: var(--off);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.closeText:hover {
  background-color: var(--bg-shadow);
}
