.generate {
  display: flex;
  flex-wrap: wrap;
}

.numberSelection {
  width: 50%;
  box-sizing: border-box;
}

.green {
  color: var(--green);
  font-weight: 600;
}

.counter {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem;
  font-size: 0.9rem;
}
