.form {
  width: 100%;
  font-family: cursive;
}

.textarea {
  width: 99%;
  color: var(--font);
  font-family: cursive;
  font-size: 1.05rem;
  background-color: var(--bg-shadow-dark);
  border: none;
}

.textarea1 {
  composes: textarea;
  height: 1.5rem;
  margin: 0.25rem 0;
  text-align: center;
}

.textarea2 {
  composes: textarea;
  height: 16rem;
}

.box {
  display: flex;
  justify-content: flex-end;
}
