.distance {
    padding: 0.5rem;
    margin: 0.25rem;
}

.ball {
    composes: distance;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

.variant {
    composes: distance;
    background-color:var(--btn) ;
}