.flex {
  display: flex;
  flex-wrap: wrap;
}
.center {
  width: 100%;
  text-align: center;
}

.control {
  width: 79.5rem;
}

.chart {
  width: 40rem;
  height: 30rem;
}

.border {
  width: 1.15rem;
  display: inline-block;
  text-align: center;
  padding: 0.15rem 0.25rem;
  margin: 0 0.5rem;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  color: var(--green);
}
