.selectedNumbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  background-color: var(--bg-shadow);
  border-radius: var(--radius);
}

.number50 {
  width: 13.75rem;
}

.number2 {
  width: 5.5rem;
}

.signal {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--red);
  box-shadow: 0px 0px 19px 1px rgba(235, 91, 93, 1);
}

.green {
  background-color: var(--green);
  box-shadow: 0px 0px 19px 1px rgb(91, 235, 98);
}

.date {
  appearance: none;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.25rem 1rem;
  width: 8rem;
  height: 1.78rem;
  background-color: var(--bg-color-accent);
  border: 1px solid var(--border-color);
  color: var(--font);
  border-radius: var(--radius);
}

.date:hover {
  background-color: var(--border-color);
}

.table {
  width: 100%;
  padding: 0 0.5rem;
  border-radius: var(--radius);
  background-color: var(--bg-shadow-dark);
}

.tr {
  padding: 0.25rem;
  border-bottom: 1px solid var(--border-color);
}

.tr > td {
  text-align: center;
}

.div {
  overflow: auto;
  width: 100%;
  height: 24.5rem;
}

.tableRecord:hover {
  cursor: pointer;
  background-color: var(--r);
}

.nth:nth-child(2n + 1) {
  background-color: var(--bg-color);
}

.nth:hover {
  cursor: pointer;
  background-color: var(--bg-shadow);
}

.tdSpan {
  display: inline-block;
  width: 2rem;
  margin: 0 0.25rem;
  text-align: center;
}

.tdDate {
  padding: 0.25rem 1rem;
  color: var(--font-dark);
  font-size: 0.75rem;
}

.fontDark {
  color: var(--green);
}

.info {
  font-size: 0.75rem;
}
