.flex {
  display: flex;
  justify-content: center;
}

.p {
  text-align: center;
  padding: 0.25rem 1rem;
  border: 2px solid var(--border-color);
  background-color: var(--bg-shadow-dark);
}

.accent {
  font-weight: 500;
  color: var(--green);
}

.chart {
  color: var(--bg-color);
  width: 40rem;
  height: 16.25rem;
}

.small {
  justify-self: flex-start;
  font-size: 0.75rem;
}
