:root {
  --bg-color: #00334c;
  --bg-color-accent: linear-gradient(to bottom, #00334c, #16405a, #00334c);
  --border-color: #315873;
  --border-color-light: #4d80a5;
  --font: rgb(177, 214, 246);
  --font-dark: #70a3cf;
  --font-accent: rgb(77, 231, 252);
  --btn: #023c58;
  --bg-shadow: #1b455f;
  --bg-shadow-dark: #0a1c27;
  --shadow: 3px 1px 20px -2px rgba(0, 0, 0, 1);
  --radius: 10px;

  --red: rgb(175, 0, 0);
  --off: #740303;
  --color-accent1: rgba(2, 178, 201, 0.336);
  --color-accent2: rgba(2, 201, 151, 0.349);

  --green: #77c404;

  --light: rgb(73, 255, 240);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font);
}

hr {
  border: 1px solid rgb(1, 82, 102);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--font-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--border-color-light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--border-color);
}
