:root {
    --bg-color: #00334C;
    --bg-color-accent: linear-gradient(to bottom, #00334c, #16405a, #00334c);
    --border-color: #315873;
    --font: #B1D6F6;
    --font-dark: #70a3cf;
    --btn: #023c58;
    --dark: #00121b;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--font);
}
