.table {
  height: fit-content;
  margin: 0.5rem;
}

.tr {
  cursor: pointer;
  background-color: var(--bg-shadow-dark);
}

.tr:hover {
  background-color: var(--border-color);
}

.tdHead {
  background-color: var(--bg-shadow-dark);
  text-align: right;
  padding: 0.35rem 0.5rem;
  font-size: 0.95rem;
}

.tdHead:first-child {
  border-radius: 8px 0 0 0;
}

.tdHead:last-child {
  border-radius: 0 8px 0 0;
}

.td {
  text-align: right;
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
}

.td:first-child {
  color: var(--font-accent);
  font-size: 0.75rem;
}

.box {
  border: 1px solid var(--border-color-light);
}

.title {
  padding: 0 0.5rem;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-shadow-dark);
}

.map {
  padding: 0 0.5rem;
  text-align: center;
  font-size: 0.85rem;
}
