.table {
  height: fit-content;
  margin: 0.5rem;
}

.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.75rem;
  border: 2px solid var(--border-color-light);
  border-radius: 50%;
}

.tr {
  cursor: pointer;
  background-color: var(--bg-shadow-dark);
}

.tr:hover {
  background-color: var(--border-color);
}

.accent50 {
  cursor: pointer;
  background-color: var(--color-accent1);
}

.accent12 {
  cursor: pointer;
  background-color: var(--color-accent2);
}

.accent50:hover,
.accent12:hover {
  background-color: var(--border-color);
}

.tdHead {
  background-color: var(--bg-shadow-dark);
  text-align: right;
  padding: 0.35rem 0.5rem;
  font-size: 0.95rem;
}

.tdHead:first-child {
  border-radius: 8px 0 0 0;
}

.tdHead:last-child {
  border-radius: 0 8px 0 0;
}

.td {
  text-align: right;
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
}

.td:first-child {
  color: var(--font-accent);
  font-size: 0.75rem;
}

.box {
  border: 1px solid var(--border-color-light);
}

.title {
  padding: 0 0.5rem;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-shadow-dark);
}

.row {
  padding: 0 0.5rem;
  text-align: center;
  font-size: 0.85rem;
  border-bottom: 1px solid var(--border-color);
}
